{% extends 'core/base.html' %}

{% block title %}Inicio | ARM{% endblock %}

{% block content %}
<h2>Bienvenidos a ARM</h2>

<p>
ARM es un sistema tecnológico diseñado para gestionar y monitorear procesos de reforestación de forma 
eficiente, organizada y basada en datos reales.  
</p>

<p>
El software permite registrar terrenos, supervisar avances, analizar áreas intervenidas y apoyar la 
toma de decisiones ambientales con información precisa.
</p>

<p>Con ARM, la reforestación se administra de manera inteligente. 🌱</p>


<img src="/media/arbol.jpg" alt="Árbol ARM" width="300">

{% endblock %}